/* footer */

@font-face {
    font-family: MyriadPro;
    src: url(../fonts/MyriadPro-Regular.otf);
}

* {
    font-family: MyriadPro;
}

.custom-navbar {
    border-bottom: 2px solid #16216A;
}

.custom-footer {
    margin-top: 40px;
    padding: 20px 20px;
    color: #ffffff;
    text-align: center;
    background-color: #16216A;
    border-top: 3px solid #F7B600;
}
.footerText {
    text-align: left;
    vertical-align: middle;
    padding-left: 10px;
    font-size: 12px;
}

.footerDiv{
    padding: 0;
}
h1 {
    color: #16216A;
    border-bottom: 1px solid #F7B600;
}

h2 {
    color: #454D88;
    border-bottom: 1px solid #FCE299;
}

p {
    text-align: justify;
}

.bio {
    border-radius: 60%;
    width: 230px;
    height: 220px;
    margin: auto;
}

.img-thumbnails {
    margin: 0 auto 10px;
    width: 225px;
}
ul {
    padding: 0;
}

.img-wrap {
    background: #f8f8f8;
    height: 200px;
    margin: 0 auto 20px;
    padding: 10px;
    width: 200px;
}

.img-thumbnails .thumbnail {
    background: #f8f8f8;
    border: 0;
    margin-right: 25px;
    min-height: 50px;
}
li.small-image {
    width: 50px;
}
.pull-left {
    float: left !important;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}
li {
    list-style: none;
}
