<!DOCTYPE html>
<!--suppress CheckImageSize -->
<html lang="en" ng-app="mainApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="ngCyberSource" href="./img/favicon.ico">

    <title>CyberSource con AngularJS</title>

    <!-- Bootstrap Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="files/css/bootstrap.min.css">

    <!-- App CSS -->
    <link rel="stylesheet" href="css/app.css">

    <!-- jQuery JS -->
    <script type="text/javascript" src="lib/jQuery/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- AngularJS Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>

    <!-- App Main JS -->
    <script type="text/javascript" src="js/app.js"></script>

    <!-- Ng Cart JS !-->
    <script type="text/javascript" src="js/ngCart/ngCart.js"></script>
    <script type="text/javascript" src="js/ngCart/ngCart.directives.js"></script>
    <script type="text/javascript" src="js/ngCart/ngCart.fulfilment.js"></script>

    <!-- App Configuration File JS -->
    <script type="text/javascript" src="config/config.js"></script>

    <!-- App Services JS -->
    <!-- <script type="text/javascript" src="js/services/base64-service.js"></script> --!>

    <!-- App Controllers JS -->
    <script type="text/javascript" src="js/controllers/mainController.js"></script>
    <script type="text/javascript" src="js/controllers/tabController.js"></script>

    <!-- App Directives JS -->
    <script type="text/javascript" src="views/directives/products/products.js"></script>

</head>
<body>

<!-- Navbar code section-->
<nav class="navbar navbar-default custom-navbar" ng-controller="TabController as tabC">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#/" ng-click="tabC.setTab(1)">
                <img alt="Brand" src="img/logo.png" width="65px" ng-click="tabC.setTab(1)">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{active: tabC.isSet(1)}"><a href="#/" ng-click="tabC.setTab(1)">Home</a></li>
                <li ng-class="{active: tabC.isSet(2)}"><a href="#/products" ng-click="tabC.setTab(2)">Products</a></li>

            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Buscar...">
                </div>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </form>

            <ul class="nav navbar-nav navbar-right ">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Shopping Cart<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <ngcart-summary></ngcart-summary>
                        <li role="separator" class="divider"></li>
                        <ngcart-cart></ngcart-cart>
                        <ngcart-checkout style="margin-right: 5px" class="pull-right" service="http"
                                         settings="{ url:'/checkout' }">Checkout
                        </ngcart-checkout>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.container -->
</nav>

<!-- ng-route and ng-view code -->
<div class="container" ng-view></div>


<div class="custom-footer">
    <div class="container">

        <div class="row">

            <div class="col-md-2 footerDiv">
                <img src="img/contact.png" width="65px" align="right">
            </div>
            <div class="col-md-2 footerDiv">
                <br/>
                <p class="footerText" style="margin-bottom: 0" >Contact </p>
                <p class="footerText">rcastanonm@gmail.com</p>
            </div>

            <div class="col-md-2 footerDiv">
                <img src="img/followme.png" width="70px" align="right">
            </div>
            <div class="col-md-2 footerDiv">
                <br/>
                <p class="footerText">Follow me</p>
            </div>


            <div class="col-md-2 footerDiv">
                <img src="img/copyright.png" width="70px" align="right">
            </div>
            <div class="col-md-2 footerDiv">
                <br/>
                <p class="footerText">© 2015 by Rolando C. Mendez</p>
            </div>
        </div>
        <!--    <div class="col-md-2">
                <p>
                    <small>
                        <img src="./img/followme.png" width="60px">
                        Follow me <br/>
                        &lt;!&ndash;<img src="./img/followme.png" width="30px">&ndash;&gt;
        &lt;!&ndash;<img src="./img/followme.jpg" width="30px">&ndash;&gt;
                </small>
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <small>
                    <img src="./img/copyright.png" width="60px">
                    © 2015 by Rolando C. Mendez
                    rcastanonm@gmail.com
                </small>
            </p>
        </div>-->

    </div>
</div>

</body>
</html>
