<div ng-hide="attrs.id">
    <a class="btn-group btn-group-sm" ng-disabled="true" ng-transclude></a>

</div>
<div ng-show="attrs.id">
    <div class="row">
        <span ng-show="quantityMax">
            <select class="form-control form-group-sm pull-right " name="quantity" id="quantity" ng-model="q"
                    ng-options=" v for v in qtyOpt" style="width: 10%;"></select>
        </span>
    </div>
    <div class="row">
        <a class="btn btn-sm btn-primary"
           ng-click="ngCart.addItem(id, name, price, q, data)"
           ng-transclude style="margin-top: 10px"></a>
    </div>
    <mark ng-show="inCart()">
        This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </mark>
</div>