<div class="row">
    <img ng-src="{{logo}}" width="300px" align="right">
</div>

<div class="row">
    <h1><b>Proof of Concept - CyberSource</b></h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dictum massa ipsum, ut facilisis metus luctus
        in. Maecenas facilisis ligula at erat rhoncus, eget faucibus eros tincidunt. Duis arcu mi, sagittis eu massa sit
        amet, malesuada porttitor nulla. Suspendisse a mattis magna, sit amet sollicitudin diam. Vivamus eu lacinia
        diam. Nulla facilisi. Etiam pretium erat a lorem suscipit bibendum. Sed varius quam a dolor feugiat, sed
        molestie magna elementum. Donec tristique scelerisque felis at lacinia. Nunc molestie mi ex, sit amet interdum
        nisi tincidunt at. Aliquam hendrerit laoreet auctor. Quisque quis dolor lectus. Nunc ullamcorper ac neque sed
        commodo. Suspendisse eu lectus ut erat placerat scelerisque a in est.
    </p>

</div>

<br/>
<br/>

<div class="row">

    <div class="col-xs-4">
        <img class="bio" src="{{bio}}">
    </div>
    <div class="col-xs-8">
        <br/>
        <h2> By - Rolando Castanon Mendez</h2>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dictum massa ipsum, ut facilisis metus
            luctus in. Maecenas facilisis ligula at erat rhoncus, eget faucibus eros tincidunt. Duis arcu mi, sagittis
            eu massa sit amet, malesuada porttitor nulla. Suspendisse a mattis magna, sit amet sollicitudin diam.
            Vivamus eu lacinia diam. Nulla facilisi. Etiam pretium erat a lorem suscipit bibendum. Sed varius quam a
            dolor feugiat, sed molestie magna elementum. Donec tristique scelerisque felis at lacinia. Nunc molestie mi
            ex, sit amet interdum nisi tincidunt at. Aliquam hendrerit laoreet auctor. Quisque quis dolor lectus. Nunc
            ullamcorper ac neque sed commodo. Suspendisse eu lectus ut erat placerat scelerisque a in est.
        </p>
    </div>
</div>

<br/>
<hr/>

<!--
<ngcart-addtocart id="123" name="Item 1 " price="123.123" quantity="3" quantity-max="30" data="item">Add to Cart
</ngcart-addtocart>
-->

<!--<ngcart-addtocart id="{{ item.id }}" name="{{ item.name }}" price="{{ item.price }}" quantity="1" quantity-max="30" data="item"></ngcart-addtocart>-->